@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Chile 753<br />
    Planta Alta<br />
    <abbr title="Telefono">P:</abbr>
    4xxx.xxxx
</address>

<address>
    <strong>Pedidos:</strong> <a href="mailto:pedidos@manice.com">pedidos@manice.com</a>
</address>
